<!-- Fixed navbar -->
    <div class="navbar navbar navbar-inverse navbar-fixed-top navbar-default" role="navigation" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ url_for('index')}}">
          <span class="pull-left mdi-navigation-arrow-back" style="padding-top:15px; padding-right:10px; color:white; font-size:24px;"></span>
          <span class="pull-left" style="padding-top:10px; color:white; font-size:24px;">Compare.img</span>
          </a>
        </div>

        <div class="navbar-collapse collapse">
       
       
        </div><!--/.nav-collapse -->
      </div>
    </div>
